@import url('./reset.css');

.wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(190, 196, 197);
}
.slider {
    margin: 0 auto;
    padding: 1rem;
    width: 80%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: black;
    color: aliceblue;
    max-width: 50rem;
}
.slider input {
    display: none;
}

/* -- img container -- */
.slider__items {
}
    .slider__wrapper {
        width: 100%;
        overflow: hidden;
    }
        .slider__imgs {
            display: flex;
            width: 400%;
        }
            .slider__item {
                width: 25%;
            }
                img {
                    width: 100%;
                }

/* -- description and controls -- */
.slider__lower-container {
    display: flex;
    gap: 1rem;
}
    /* -- description -- */
    .slider__description-wrapper {
        overflow: hidden;
        width: 100%;
        margin-top: 1rem;
    }
        .slider__description-container {
            display: flex;
            width: 400%;
        }
            .slider__txt {
                width: 100%;
            }
    /* -- controls -- */
    .slider__labels {
        margin-top: 1rem;
        display: flex;
    }
        .slider__labels label {
            cursor: pointer;
            width: 1.5rem;
            height: 1.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }
            .slider__control-btn {
                width: 0.8rem;
                height: 0.8rem;
                border: 2px solid aqua;
                background-color: aqua;
                border-radius: 50%;
            }
            .slider__labels label:hover > .slider__control-btn {
                background-color:white;
                border-color: white;
            }

/* -- controls action -- */
#slide-1:checked ~ .slider__items .slider__imgs, 
#slide-1:checked ~ .slider__lower-container .slider__description-container {
    margin-left: 0
}
#slide-2:checked ~ .slider__items .slider__imgs, 
#slide-2:checked ~ .slider__lower-container .slider__description-container {
    margin-left: -100%;
}
#slide-3:checked ~ .slider__items .slider__imgs, 
#slide-3:checked ~ .slider__lower-container .slider__description-container {
    margin-left: -200%;
}
#slide-4:checked ~ .slider__items .slider__imgs, 
#slide-4:checked ~ .slider__lower-container .slider__description-container {
    margin-left: -300%;
}

/* controls effects */
#slide-1:checked ~ .slider__lower-container label[for='slide-1'] .slider__control-btn,
#slide-2:checked ~ .slider__lower-container label[for='slide-2'] .slider__control-btn,
#slide-3:checked ~ .slider__lower-container label[for='slide-3'] .slider__control-btn,
#slide-4:checked ~ .slider__lower-container label[for='slide-4'] .slider__control-btn {
    background-color: black;
}

/* -- sliding animation -- */
.slider__imgs,
.slider__description-container,
.slider__control-btn {
    transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}
