@import url('./reset.css');

.wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(190, 196, 197);
}

.slider {
    margin: 0 auto;
    padding: 15px;
    width: 80%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: black;
    color: aliceblue;
    outline: 1px solid red;
}

input {
    display: none;
}

/* -- img container -- */
.slider__items {
}
    .slider__wrapper {
        width: 100%;
        overflow: hidden;
    }
        .slider__imgs {
            display: flex;
            width: 400%;
        }
            .slider__item {
            }
                img {
                    width: 100%;
                }
/* -- description and controls -- */
.slider__lower-container {
    margin-top: 15px;
    display: flex;
}
    /* -- description -- */
    .slider__description-wrapper {
        overflow: hidden;
        width: 100%;
    }
        .slider__description-container {
            display: flex;
            width: 400%;
        }
            .slider__txt {
                width: 100%;
            }
    /* -- controls -- */
    .slider__label{
        
    }



.slider__labels {
    display: flex;
}
.slider__labels > label {
    width: 40px;
    height: 40px;
    background-color:aqua;
}

#slide-1:checked ~ .slider__items .slider__imgs, 
#slide-1:checked ~ .slider__lower-container .slider__description-container {
    margin-left: 0
}
#slide-2:checked ~ .slider__items .slider__imgs, 
#slide-2:checked ~ .slider__lower-container .slider__description-container {
    margin-left: -100%;
}
#slide-3:checked ~ .slider__items .slider__imgs, 
#slide-3:checked ~ .slider__lower-container .slider__description-container {
    margin-left: -200%;
}
#slide-4:checked ~ .slider__items .slider__imgs, 
#slide-4:checked ~ .slider__lower-container .slider__description-container {
    margin-left: -300%;
}


