@import url('./reset.css');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    background-color: rgb(190, 196, 197);
    min-width: 19rem;
}
.slider {
    margin: 0 auto;
    padding: 1rem;
    width: 80%;
    max-width: 50rem;
    min-width: 18rem;
    display: flex;
    flex-direction: column;
    background-color: black;
    color: aliceblue;
    box-shadow: 0 14px 28px rgba(0,0,0,0.35), 0 10px 10px rgba(0,0,0,0.38);
    border: 1px rgb(109, 92, 92) solid;
    border-radius: 8px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.8rem;
}
@media (max-width: 768px) {
    .slider {
        width: 95%;
        font-size: 1.4rem;
    }   
}

.slider input {
    display: none;
}

/* -- images -- */
.slider__wrapper {
    width: 100%;
    overflow: hidden;
}
    .slider__items {
        display: flex;
        width: 400%;
    }
        .slider__item {
            width: 25%;
        }
            .slider__item img {
                width: 100%;
            }

/* -- description and controls -- */
.slider__lower-container {
    display: flex;
    gap: 1rem;
}
@media (max-width: 768px) {
    .slider__lower-container {
        flex-direction: column;
        gap: 0;
    }   
}
    /* -- description -- */
    .slider__description-wrapper {
        overflow: hidden;
        width: 100%;
        margin-top: 1rem;
    }
        .slider__description-container {
            display: flex;
            width: 400%;
        }
            .slider__txt {
                width: 100%;
            }
    /* -- controls -- */
    .slider__labels {
        margin-top: 1rem;
        display: flex;
    }
    @media (max-width: 768px) {
        .slider__labels {
            margin: 0 auto;
        }   
    }
        .slider__labels label {
            cursor: pointer;
            width: 2rem;
            height: 1.8rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .slider__labels label:hover > .slider__control-btn {
            background-color:white;
            border-color: white;
        }
        .slider__labels label:active > .slider__control-btn {
            outline: rgba(255, 255, 255, 0.692) 2px solid;
        }
            .slider__control-btn {
                width: 1.2rem;
                height: 1.2rem;
                border: 2px solid aqua;
                background-color: aqua;
                border-radius: 50%;
            }
            @media (max-width: 768px) {
                .slider__labels label {
                    width: 2.8rem;
                    height: 2.8rem;
                }
                    .slider__control-btn {
                        width: 1.5rem;
                        height: 1.5rem;
                    }
            }

/* -- controls action -- */
#slide-1:checked ~ .slider__wrapper .slider__items, 
#slide-1:checked ~ .slider__lower-container .slider__description-container {
    margin-left: 0
}
#slide-2:checked ~ .slider__wrapper .slider__items, 
#slide-2:checked ~ .slider__lower-container .slider__description-container {
    margin-left: -100%;
}
#slide-3:checked ~ .slider__wrapper .slider__items, 
#slide-3:checked ~ .slider__lower-container .slider__description-container {
    margin-left: -200%;
}
#slide-4:checked ~ .slider__wrapper .slider__items, 
#slide-4:checked ~ .slider__lower-container .slider__description-container {
    margin-left: -300%;
}

/* -- controls effects --*/
#slide-1:checked ~ .slider__lower-container label[for='slide-1'] .slider__control-btn,
#slide-2:checked ~ .slider__lower-container label[for='slide-2'] .slider__control-btn,
#slide-3:checked ~ .slider__lower-container label[for='slide-3'] .slider__control-btn,
#slide-4:checked ~ .slider__lower-container label[for='slide-4'] .slider__control-btn {
    background-color: black;
}

/* -- sliding animation -- */
.slider__items,
.slider__description-container {
    transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}
.slider__control-btn {
    transition: all 300ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}